@tailwind base;
@tailwind components;
@tailwind utilities;



.marquee {
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: flex;
  animation: scrolling 20s linear infinite;
  width: 200%; /* Make sure the width is enough to cover the viewport plus extra items */
}

.marquee-item {
  flex: 0 0 16vw;
  margin: 0 1vw;
}

.marquee-item img {
  display: block;
  width: 100%;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}